#####################################################################
# Superslicer Start Code: 
# START_PRINT BED={first_layer_bed_temperature} EXTRUDER={first_layer_temperature}
# Start Code Cura (activate relative extrusion in cura / aktiviere Relative Extrusion in Cura):
# START_PRINT BED={material_bed_temperature_layer_0} EXTRUDER={material_initial_print_temperature}
# Prusa Slicer Startcode:
# START_PRINT BED=[first_layer_bed_temperature] EXTRUDER=[first_layer_temperature]
# Orca Slicer Startcode:
# START_PRINT EXTRUDER=[nozzle_temperature_initial_layer] BED=[hot_plate_temp_initial_layer] MATERIAL=[filament_type]
######################################################################

[gcode_macro START_PRINT]
gcode:
    
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28
    # Move the nozzle near the bed
    G1 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.15 F300
 
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX} FORCE_NEW_MESH=True
    G92 E0.0                         ; Reset extruder length
    G90                              ; Absolute positioning
